* {
    box-sizing: border-box;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
}

.navbar-item1 {
    width: 152px;
    height: 32px;
    top: 29px;
    left: 352px;
    text-decoration: none;
}

.name {
    text-decoration: none;
    font-family: DM sans;
    width: 152px;
    height: 32px;
    top: 29px;
    left: 352px;
    gap: 0px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #eb3850;
}

.name:hover {
    color: #9272ff;
}

.container {
    font-family: DM sans;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50%;
    padding-top: 5px;
    width: Hug (454px)px;
    height: Hug (43px)px;
    top: 24px;
    left: 715px;
    gap: 16px;
    opacity: 0px;
    padding-bottom: 20px;
    padding-right: 70px;
}


.opt {
    text-decoration: none;
    font-family: DM sans;
    color: #97958d;
    width: Hug (454px)px;
    height: Hug (43px)px;
    top: 24px;
    left: 715px;
    gap: 16px;
    opacity: 0px;
}

.opt:hover {
    color: #9272ff;
}

.entrar {
    font-family: DM sans;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 50px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    color: #eb3850;
    padding: 20px;

}

.bt-1 {
    width: Hug (144px)px;
    height: Hug (42px)px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #eb3850;
    border: none;
    color: #F9F9F9;
}

.bt {
    padding-top: 21px;
    padding-right: 170px;
    width: Hug (226px)px;
    height: Hug (42px)px;
    top: 26px;
    left: 1342px;
    gap: 32px;
    opacity: 0px;
}

.article1 {
    width: 685px;
    height: 194px;
    gap: 0px;
    opacity: 0px;
    padding-left: 50px;
    padding-top: 100px;
}

.frase1 {
    font-family: DM Sans;
    font-size: 88px;
    font-weight: 400;
    line-height: 90.8px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1A191E;
}

.article2 {
    height: 82px;
    gap: 0px;
    opacity: 0px;
    padding-left: 50px;
    padding-top: 100px;
    width: 500px;
}

.frase2 {
    font-family: Inter;
    font-size: 15px;
    font-weight: 200px;
    line-height: 40.8px;
    text-align: left;
    color: #1A191E;
}

.article3 {
    width: Hug (619px)px;
    height: Hug (80px)px;
    top: 565px;
    left: 352px;
    gap: 48px;
    opacity: 0px;

}

/*.frase-check1 {
    width: 224px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 32.4px;
    text-align: left;
    gap: 100px;
}

.frase-check2 {
    width: 174px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 32.4px;
    text-align: left;
}

.frase-check3 {
    width: 263px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 32.4px;
    text-align: left;
}

.frase-check4 {
    width: 215px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 32.4px;
    text-align: left;
}*/

.div-ckeck1 {
    width: Hug (266px)px;
    height: Hug (80px)px;
    gap: 16px;
    opacity: 0px;
    padding-top: 80px;
}

.frase-check {}